$mainColor: #222831 ;
$secondaryColor: #393e46 ;
$thirdColor: #FD3873;

$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
$text: #eeeeee;
$hoverText: #eeeeeebb;