$mainColor: #222831 ;
$secondaryColor: #393e46 ;
$thirdColor: #fd7014;

$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
$text: #eeeeee;
$hoverText: #eeeeeebb;

body{
    font-family: $font;
    background-color: $mainColor;
    margin: 0;
    overflow-x: hidden;
    color: $text;
    
    
}

.Menu{
    text-align: center;
    border-bottom: solid $secondaryColor;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    a{
        &:link{
            text-decoration: none;
            color: $text;
        }

        &:visited{
            color: $text;
            text-decoration: none;
        }

        &:hover{
            color: $hoverText;
            transition: 600ms;
        }
    }

    #logo{
        width: 4vw;
        height: 4vw;

        &:hover{
            filter: drop-shadow(0 0 0.45rem #fe3c72);
            transition: 100ms;
        }
    }
}

.App{
    main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;



        #iconWrapper{
            position: relative;
            text-align: center;          
    
            #blurEffect{
                position: absolute;
                display: inline-block;
                bottom: 0px;
                left: 0px;
                border-radius: 10px;
                height: 60px;
                width: 100%;
                background: linear-gradient(180deg, transparent 0%, rgba(255,255,255,1) 100%);
    
                #name{
                    position: absolute;
                    bottom: 0px;
                    left: 15px;
                    color: $secondaryColor;
                    font-weight: 700;
                    
                }
            }
    
    
        }
    }

    #buttonWrapper{  
        display: flex;
        justify-content: space-between;
        
        button{
            background-color:  $thirdColor;
            color: $text;
            border-radius: 10px;
            font-size: large;
            border: none;
        
            &:hover{
                cursor: pointer;
        
                border: 2px solid $secondaryColor;
                color: $thirdColor;
                background-color: $mainColor;
                transition: 200ms;
            }
        }
    }
}

.Statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Options{
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.Footer{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0.5em;
}

@media screen and (min-width: 815px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }

    .Menu{
        width: 40vw;
    }

    .imageWrapper{
        height: 40vw;
        width: 40vw;
    }
    button{
        width: 10vmin;
        height: 5vmin;
    }

    .Options{
        flex-direction: row;
    }

    .Statistics{
        #textPreferredCharacter{
            width: 40vw;
        }
    }


}

@media screen and (max-width: 815px){

    .Menu{
        width: 100vw;
        position: absolute;
        top: 0vh;
        align-items: center;
        #logo{
            width:2em;
            height: 2em;
        }
        svg{
            font-size: 1.5em;
        }
    }

    #mainAndInfoWrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
    }

    .imageWrapper{
        height: 100vw;
        width: 90vw;
    }

    button{
        width: 25vw;
        height: 10vw;
    }

    .Options{
        position: absolute;
        top: 10vh;
        text-align: center;
        flex-direction: column;
        width: 100vw;
    }

    .Statistics{
        position: absolute;
        top: 10vh;

        #textPreferredCharacter{
            width: 95vw;
        }

        .Thunderbolt{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
        }

    }
}



.image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 600ms;
    object-fit: cover;
    object-position: 20% 10%;
}