@import "desktop";
@import "mobile";
@import "colorPalette";

body{
    font-family: $font;
    background-color: $mainColor;
    margin: 0;
    overflow-x: hidden;
    color: $text;
    
    
}

.Menu{
    text-align: center;
    border-bottom: solid $secondaryColor;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    a{
        &:link{
            text-decoration: none;
            color: $text;
        }

        &:visited{
            color: $text;
            text-decoration: none;
        }

        &:hover{
            color: $hoverText;
            transition: 600ms;
        }
    }
}

.App{
    main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;



        #iconWrapper{
            position: relative;
            text-align: center;          
    
            #blurEffect{
                position: absolute;
                display: inline-block;
                bottom: 0px;
                left: 0px;
                border-radius: 10px;
                height: 60px;
                width: 100%;
                background: linear-gradient(180deg, transparent 0%, rgba(255,255,255,1) 100%);

                .textOnImage{
                    position: absolute;
                    bottom: 0px;
                    left: 15px;
                    color: $secondaryColor;
                    font-weight: 700;
                }
            }
    
    
        }
    }

    #buttonWrapper{  
        display: flex;
        justify-content: space-between;
        
        button{
            color: $text;
            
            font-size: large;
            border: none;

            display: flex;
            justify-content: center;
            align-items: center;
            }
        }
    }

.Statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Options{
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.Footer{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0.5em;
}

.image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 600ms;
    object-fit: cover;
    object-position: 20% 10%;
}