<!DOCTYPE html>
<html lang="fr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <link href="static/style.css" rel="stylesheet" type="text/css" />
    <title>Iya</title>
  </head>
  <body>
    <button onclick="sendToServer(false)">pass</button>
    <img id="icon" src="{{imgUrl}}" />
    <button onclick="sendToServer(true)">smash</button><br />
    <h1 id="name">{{name}}</h1>
    <script src="static/index.js"></script>
  </body>
</html>
