<!DOCTYPE html>
<html lang="fr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <link href="static/style.css" rel="stylesheet" type="text/css" />
    <title>Iya</title>
  </head>
  <body>
    <main>
      <button onclick="sendToServer(false)">pass</button>
      <p></p>
      <div id="iconWrapper"><img id="icon" src="{{imgUrl}}" /></div>
      <p></p>
      <button onclick="sendToServer(true)">smash</button>
    </main>
    <div id="info">
      <h1 id="name">character name: {{name}}</h1>
      <h1 id="compt">iteration count: {{iteration}}</h1>
    </div>
    <script src="static/index.js"></script>
  </body>
</html>
