$mainColor: #222831 ; // #363B52
$secondaryColor: #393e46 ; // #989ABF
$thirdColor: #fd7014; // #731C22

$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
$text: #eeeeee;

body{
    font-family: $font;
    background-color: $mainColor;
    margin: 0;
    overflow-x: hidden;

    #root{
        margin: 0;
        display: flex;
        flex-direction: column;

    }
    svg{
        position: absolute;
        bottom: 0;
    }

}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;

    button{
        background-color:  $thirdColor;
        color: $text; // $thirdColor
        border-radius: 10px;
        width: 10vmin;
        height: 5vmin;
        font-size: large;
        border: none;

        &:hover{
            cursor: pointer;

            border: 2px solid $secondaryColor;
            color: $thirdColor;
            background-color: $mainColor;
            transition: 200ms;
        }
    }



    #iconWrapper{
        height: 50vmin;
        max-width: 50vmin;
        position: relative;
        text-align: center;

        #icon{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            transition: 600ms;
        }

        #blurEffect{
            position: absolute;
            display: inline-block;
            bottom: 0px;
            left: 0px;
            border-radius: 10px;
            //backdrop-filter: blur(50px);
            height: 60px;
            width: 100%;
            background: transparent;
            background: linear-gradient(180deg, transparent 0%, rgba(255,255,255,1) 100%);

            #name{
                position: absolute;
                bottom: 0px;
                left: 15px;
                color: $secondaryColor;
                // mix-blend-mode: difference;
                font-weight: 700;
                
            }
        }


    }
}

#info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $text;
}

#stats{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-evenly;
    background-color: $secondaryColor;
    
    width: 100%;
    height: 100%;

    h1{color: $mainColor;}

    #statWrapper{
        width: 100%;
        padding: 1em;
        display: flex;
        
        justify-content: space-around;

        h2{color: $thirdColor;}

        #chartWrapper{
            align-items: center;
            width: 90vmin;
            padding: 1em;
            border-radius: 10px;
            color: $thirdColor;
        }
    }


}

@media screen and (min-width: 815px) { #statWrapper{flex-direction: row;}}